<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>Üye Seç</span>
</mat-toolbar>


<div class="container">
  <h1>Üyeler</h1>

  <mat-form-field appearance="outline">
    <input matInput placeholder="Aranacak Bir Değer Giriniz" (keyup)="UyeFiltrele($event)">
  </mat-form-field>


  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="uyeAdSoyad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Üye Ad Soyad
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.uyeAdSoyad}} </mat-cell>
    </ng-container>



    <ng-container matColumnDef="uyeTel">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Üye Tel
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.uyeTel}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="uyeMail">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Üye Mail
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrDogTarih}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">

        <button mat-icon-button matTooltip="Üye Seç" (click)="UyeSec(kayit)">
          <mat-icon aria-label="label" color="primary">person_add</mat-icon> Seç
        </button>


      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
  </mat-paginator>

  <button mat-button color="warn" (click)="dialogRef.close()">Kapat</button>

</div>